<section class="columns has-text-centered story-content">
  <section class="column is-offset-3 is-6">
    <h1 class="title"><%= @story.title %></h1>
    <span class="profile">
      <%= avatar(@story.user, size: 50) %>
      <span class="username"><%= @story.user.username %></span>
      <a href="#" class="follow-button">Follow</a>
    </span>
    <hr>
    <article class="content">
      <%= cover_image(@story, size: [1000, 500]) %>
      <p>
      <%= simple_format(@story.content) %>
      </p>
      <footer>
        拍手 108
      </footer>
    </article>
    <hr>
    <section class="comments">
      <h2>留言</h2>
      <%= render 'comment_area', story: @story, comment: @comment %>
      <%= render partial: 'comment', collection: @comments %>
    </section>
  </section>
</section>
