<div class="container column is-two-thirds">
  <div class="level">
    <div class="level-left">
      <div class="title is-large">故事列表</div>
    </div>
    <div class="level-rigrt">
      <%= link_to '新增故事', new_story_path, class: 'button has-border is-medium has-text-black' %>
    </div>
  </div>
  <hr>
  <section >
    <% @stories.each do |s| %>
      <article class="media">
        <div class="media-content">
          <h2 class="title is-4">
            <%= link_to s.title, edit_story_path(s), class: 'has-text-grey-darker' %>
            <%= content_tag :span, s.status, class: 'tag has-border has-text-danger' if s.draft? %>
            <%= content_tag :span, s.status, class: 'tag has-border has-text-link 'if s.published?%>
          </h2>
          <p class="content"><%= simple_format(strip_tags(s.content).truncate(200, separator: ' ', omission: " ... #{read_more(s)}")) %></p>
        </div>
        <figure class="media-right">
          <%= cover_image(s, size: [150, 150]) %>
        </figure>
      </article>
      <p>
        最後編輯時間：<%= time_ago_in_words(s.updated_at) %> ago | 
        <%= link_to "編輯故事", edit_story_path(s), class: 'button has-border is-small' %>
        <%= link_to "刪除故事", story_path(s), method: 'delete', class: 'button has-text-danger has-border is-small', data:{confirm:'確認刪除?!'} %>
      </p>
      <hr>
    <% end %>
  </section>
</div>
</div>
