
<div class="container">
  <div class="level">
    <div class="level-left">
      <div class="title is-large">故事列表</div>
    </div>
    <div class="level-rigrt">
      <%= link_to '新增故事', new_story_path, class: 'button is-medium is-primary has-text-black' %>
    </div>
  </div>

  <hr>
  
  <% @stories.each do |s| %>
    <div class="content">
      <h2 class="title">
        <%= link_to s.title, edit_story_path(s), class: 'has-text-grey-darker' %> 
        <%= content_tag :span, s.status, class: 'tag is-info is-medium is-warning' if s.draft? %>
        <%= content_tag :span, s.status, class: 'tag is-info is-medium 'if s.published?%>
      </h2>

      <p><%= s.content %></p>
      <p>
        最後編輯時間：<%= time_ago_in_words(s.updated_at) %> ago
        <%= link_to "編輯故事", edit_story_path(s), class: 'button is-primary is-small' %>
        <%= link_to "刪除故事", story_path(s), method: 'delete', class: 'button is-danger is-small', data:{confirm:'確認刪除?!'} %>
      </p>
      <hr>
    </div>

  <%end%>  
  </div>

</div>
